{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Message "{{ message.object }}"</h1>


    <div class="container">
      <div class="row message">
        <div class="col-xs-9">
          <p>Object : {{ message.object }}</p>
          <p>Message : {{ message.message }}</p>
          <p>Author : {% if message.author %}{{message.author.firstname}} ({{message.author.lastname}}){% endif %}</p>
        </div>
        <div class="col-xs-3 icon">
          <a href="{{ path('message_index') }}"><img src="{{ asset('img/return.png') }}" alt="Return"/></a>
          <a  href="{{ path('message_edit', { 'id': message.id }) }}"><img src="{{ asset('img/modify.png') }}" alt="Modifier"/></a>
          {{ form_start(delete_form) }}<input class="icon-delete" type="image" src="{{ asset('img/remove.png') }}" alt="effacer"/>{{ form_end(delete_form) }}

        </div>
      </div>
    </div>

{% endblock %}
